.container{
    margin-top: 30px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #008cba;
    border-color: #0079a1 !important;
}

.btn-primary{
    color: #fff;
    background-color: #008cba;
    border-color: #0079a1 !important;
}